<div class='row'>
  <div class='col-md-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <div class='row'>
          <div class='col-md-4'>
            <h4>My Tasks</h4>
          </div>
          <div class='col-md-4'>
              <%=
                  link_to tasks_path(archived: !@archived),
                          class: 'btn btn-default center-block' do
                    if @archived
                      'View Unarchived Tasks'
                    else
                      'View Archived Tasks'
                    end
                  end
              %>
          </div>
          <div class='col-md-4'>
            <%= link_to 'View README', readme_path, class: 'pull-right btn btn-default' %>
          </div>
        </div>
      </div>

      <div class='panel-body panel-action'>
        <%= render 'form' %>
      </div>

      <div class='panel-body'>
        <%= render 'search_form' %>
      </div>

      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Complete</th>
            <th>Task</th>
            <th>Description</th>
            <th class='actions'></th>
          </tr>
        </thead>

        <tbody>
          <% @tasks.each do |task| %>
            <tr class="<%= task_row_classes(task) %>">
              <td class="col-md-1">
                <div class="text-center">
                <%= check_box_tag :task_complete, :complete, task.complete,
                      class: 'task-completion',
                      data: {
                        remote: true,
                        url: url_for( :action => :complete, :id => task.id ),
                        task_id: task.id} %>
                </div>
              </td>
              <td class="col-md-3"><%= task.title.html_safe %></td>
              <td class="col-md-5"><%= task.description.html_safe %></td>
              <td class="col-md-3">
                <div class="pull-right">
                    <div class="btn-group">
                        <%= link_to edit_task_path(task),
                                    class: 'btn btn-default btn-sm',
                                    role: 'button' do %>
                            <span class="glyphicon glyphicon-edit"></span> Edit
                        <% end %>
                        <%= link_to task, method: :delete,
                                    data: { confirm: 'Are you sure?' },
                                    class: 'btn btn-danger btn-sm btn-default',
                                    role: 'button' do %>
                            <span class="glyphicon glyphicon-trash"></span> Delete
                         <% end %>
                        <%= link_to archive_task_path(task),
                                    :remote => true,
                                    class: 'btn btn-warning task-archival btn-sm btn-default',
                                    role: 'button' do %>
                        <span class="glyphicon glyphicon-folder-close"></span> Archive
                    <% end %>
                    </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>