<div class='row'>
  <div class='col-md-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <div class='row'>
          <div class='col-md-4'>
            <h4>My Tasks</h4>
          </div>
          <div class='col-md-4'>
              <%=
                  link_to tasks_path(archived: !@archived),
                          class: 'btn btn-default center-block' do
                    if @archived
                      'View Unarchived Tasks'
                    else
                      'View Archived Tasks'
                    end
                  end
              %>
          </div>
          <div class='col-md-4'>
            <%= link_to 'View README', readme_path, class: 'pull-right btn btn-default' %>
          </div>
        </div>
      </div>

      <div class='panel-body panel-action'>
        <%= render 'form' %>
      </div>

      <div class='panel-body'>
        <%= render 'search_form' %>
      </div>

      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Complete</th>
            <th>Task</th>
            <th>Description</th>
            <th class='actions'></th>
          </tr>
        </thead>

        <tbody>
          <% @tasks.each do |task| %>
            <tr class="<%= task_row_classes(task) %>">
              <td>
                <% #check_box_tag :complete, :complete, task.complete, onclick: 'javascript:alert("Make me work!");' %>
                <%= check_box_tag :task_complete, :complete, task.complete,
                      class: 'task-completion',
                      data: {
                        remote: true,
                        url: url_for( :action => :complete, :id => task.id ),
                        task_id: task.id
                } %>
              </td>
              <td><%= task.title.html_safe %></td>
              <td><%= task.description.html_safe %></td>
              <td>
                <%= link_to 'Edit', edit_task_path(task), class: 'btn btn-default btn-sm' %>
                <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
                <%= link_to 'Archive', archive_task_path(task), :remote => true, class: 'btn btn-warning btn-sm task-archival' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>